body {
	background-color: white;
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
}

h1 {
	color: white;
	font-size: 60px;
	text-align: center;
}

h2 {
	color: #412867;
	font-size: 36px;
	font-weight: 600;
}

h3 {
	color: #92278f;
	font-size: 26px;
	line-height: 1.4em;
	letter-spacing: 0em;
	margin-top: 0px;
}

p {
	font-size: 20px;
	line-height: 1.4em;
	letter-spacing: 0em;
}

.block-space{
	height: 40px;
	padding: 17px;
}

/* ----- navbar and buttons ----- */
button, .nav-link {
	border: none;
	color: white;
	display: inline-block;
  font-family: 'Futura', sans-serif;
	font-style: normal;
	letter-spacing: .1em;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
}

button:focus {
	outline: none;
}

.nav-lg {
	box-sizing: border-box;
	padding: 16px 139px 0px;
}

.nav-xs {
	background-color: #412565;
	display: none;
	width: 100%;
}

.brand-logo {
	max-width: 97px;
}

.nav-right {
	float: right;
	line-height: 1em;
}

.nav-link {
	font-size: 12px;
  margin: 0 1.14em;
  padding: .618em 0;
}

.nav-link:hover {
	color: rgba(255,255,255,.4);
	-webkit-transition: color 170ms ease-in-out, background-color 170ms ease-in-out;
	-moz-transition: color 170ms ease-in-out, background-color 170ms ease-in-out;
	-ms-transition: color 170ms ease-in-out, background-color 170ms ease-in-out;
	-o-transition: color 170ms ease-in-out, background-color 170ms ease-in-out;
	transition: color 170ms ease-in-out, background-color 170ms ease-in-out;
}

.hamburger-menu {
	background-color: transparent;
	padding: 6px 12px;
}

.hamburger-menu img {
	height: 34px;
	width: 36px;
}

.demo-button {
	background-color: #67C5C7;
	border: none;
	display: block;
	font-size: 16px;
	margin-left: auto;
	margin-right: auto;
	padding: 13px 26px;
}

.demo-button:hover {
	opacity: .8;
}


/* ----- section-specific styles ----- */
.hero-container {
	background-color: rgba(22,11,35,.4);
	display: block;
	max-height: 900px;
	position: relative;
	width: 100%;
	left: 0;
	top: 0;
}

.section {
	min-height: 400px;
	padding: 80px 150px 0px;
}

.back-img h2 {
	color: white;
	font-weight: 400;
}

.back-img h3 {
	color: white;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
}

.back-img p {
	color: white;
}

.first-step p {
	color: #4C4E4F;
}

.how-it-works {
	background-color: rgba(22,11,35,.4);
}


/* ----- grid layouts ----- */
.grid-container {
	display: grid;
	grid-gap: 17px;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 60px;
}

.grid-item {
	display: inline-grid;
}

.grid-item div {
	margin-top: 0px;
	margin-left: -17px;
	padding: 17px;
}

.grid-item h1 {
	margin: 0px;
	padding: 17px;
}

.thumb-img {
	width: 100%;
}

.col-1 {
	grid-column: 1;
}

.col-2 {
	grid-column: 2;
}

.col-3 {
	grid-column: 3;
}

.col-right-wide {
	grid-column: 2 / span 3;
	padding-left: 17px;
}

.row-1 {
	grid-row: 1;
}

.row-2 {
	grid-row: 2;
}

.row-3 {
	grid-row: 3;
}


/* ----- media queries for screen responsivity ----- */
@media(min-width: 961px) {
	.hero-container::before {
		background-size: 100%;
	}
}

@media(min-width: 961px) and (max-width: 1024px) {
	.section {
		padding: 80px 64px 0px;
	}

	.nav-lg {
		padding: 16px 53px 0px;
	}
}

@media(min-width: 769px) and (max-width: 960px) {
	.section {
		padding: 80px 48px 0px;
	}

	.nav-lg {
		padding: 16px 37px 0px;
	}
}

@media(min-width: 641px) and (max-width: 768px) {
	.section {
		padding: 80px 36px 0px;
	}

	.nav-lg {
		padding: 16px 25px 0px;
	}
}

@media(min-width: 400px) and (max-width: 640px) {
	.section {
		padding: 60px 20px 0px;
	}

	.grid-container {
		display: block;
	}

	.nav-lg {
		display: none;
	}

	.nav-xs {
		display: block;
	}

	h1 {
		font-size: 30px;
	}

	h2 {
		font-size: 26px;
	}

	h3 {
		font-size: 24px;
	}

	.demo-button {
		font-size: 14px;
	}
}